@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap');

body {
    background-color: #121212;
    color: #c9c9c9;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-weight: bolder;
    font-size: calc(100% + 2vw); /*48px;*/
    text-align: center;
    color: #d9d9d9;
}

h2 {
    font-weight: bold;
    font-size: calc(100% + 1vw); /*48px;*/
    color: #d9d9d9;
}

hr {
    border-color: #b3b3b3;
}

a {
    color: #309CE7;
}

.nav-icon {
    padding: 15px;
    margin: 0;
}

.nav-icon svg:hover {
    cursor: pointer;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.98);
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    margin: 0;
  }

.menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    justify-items: center;
    gap: 10px;
}
  
.menu li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: calc(100% + 1.5vw);
    display: block;
}

.menu li b {
    font-size: calc(100% + 2vw);
}

.menu a {
    color: #818181;
    text-decoration: none;
}
  
.menu a:hover {
    color: #f1f1f1;
}

.menu #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: calc(100% + 2vw);
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
}

pre * {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.prettyprint {
    border: 0 !important;
} 

pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment */
pre .pun, code .pun { color: #EFF3F6; } /* punctuation */
pre .pln, code .pln { color: #EFF3F6; } /* plaintext */
pre .tag, code .tag { color: #89bdff; } /* tag */
pre .atn, code .atn { color: #c792ea; } /* attribute */
pre .atv, code .atv { color: #c3fea6; } /* attribute value */

pre.prettyprint, code.prettyprint {
	background-color: #1E1E1E;
    border-radius: 10px;
}

pre.prettyprint {
    width: -moz-fit-content;
	width: fit-content;
}

@media screen and (max-width: 700px) {
    pre {
        display: none;
    }
}

.main {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
  
a:hover > svg > #signature {
    stroke-dasharray: 1072;
    stroke-dashoffset: 1072;
    animation: sign 4s;
    animation-iteration-count: infinite;
}
  
@keyframes sign {
    to {
      stroke-dashoffset: 0;
    }
}
  
@-webkit-keyframes sign {
    to {
      stroke-dashoffset: 0;
    }
}